@inject BlazorBattles.Client.Services.ApplesService.IApplesService ApplesService
@implements IDisposable

<AuthorizeView>
    <Authorized>
        <div class="top-menu">
            <img src="icons/C_Hat01.png" /> <span class="popover-header">@ApplesService.Apples</span>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    protected override void OnInitialized()
    {
        ApplesService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        ApplesService.OnChange -= StateHasChanged;
    }
}
